{% extends 'base.html' %}
{% block title %}
	Login
{% endblock %}

{% block content %}
		{% if not request.user.is_authenticated %}
			<article class="padding medium-width center medium-elevate">
				<h1>Login</h1>
				{% if form.errors %}
					<p>Your username and password didn't match. Please try again.</p>
				{% else %}
					<p>Please use the following form to login:
						If you don't have an account <a class="primary-text" href="{% url 'register' %}">Register
							here</a>.
					</p>
				{% endif %}
					<div class="login-form">
						<form action="{% url 'login' %}" method="post">
							{% for field in form %}
								<div class="field border">
									{{ field.errors }}
									{{ field.label_tag }}: {{ field }}
								</div>
							{% endfor %}
							{% csrf_token %}
							<input type="hidden" name="next" value="{{  next }}"/>
							<button><span>Login</span></button>
						</form>
						<p>
							<a class='tertiary-text' href="{% url 'password_reset' %}">Forgotten your password?</a>
						</p>
					</div>
			</article>
		{% endif %}
		<div class="social">
			<ul>
				<li class="google">
					<a href="{%  url "social:begin" "google-oauth2" %}">
						Sign in with Google
					</a>
				</li>
			</ul>
		</div>


{% endblock %}